.collapse {
    margin-bottom: 30px;
}

.banniereCollapse {
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    color: #FFFFFF;
    border-radius: 5px;
    height: 45px;
}



.img {
    height: 15px;
}

.banniereCollapse:focus .img {
    
    //background-color: rgb(72, 255, 0);
    transition: 0.2s ease-in-out;
    transform: rotate(-180deg);
    -webkit-transform:rotate(-180deg) ;
    -ms-transform: rotate(-180deg);
}




